nav {
    background-color: var(--veryLightGrey);
    height: 75px;
}

.navInner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burgerLine {
    width: 35px;
    height: 2px;
    margin: 3px 0;
    background-color: var(--darkBlue);
}

.navLinks {
    transform: translateX(-50%) scaleY(0);
    background-color: var(--veryLightGrey);
    width: 100%;
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 25px;
    list-style-type: none;
    border-radius: 5px;
    text-align: center;
    pointer-events: none;
    transition: all 0.3s;
    transform-origin: top;
    z-index: 5;
}

.navLinks.active {
    transform: translateX(-50%) scaleY(1);
    pointer-events: all !important;
    transform-origin: top;
}

.navItem {
    margin: 25px;
}

.navItem a {
    text-decoration: none;
    color: var(--darkBlue);
}

.navItem a:hover {
    text-decoration: underline;
}

.burgerLine1, .burgerLine2, .burgerLine3 {
    transition: 0.2s ease;
}

.burgerActive .burgerLine2 {
    opacity: 0;
}

.burgerActive .burgerLine1 {
    transform: rotate(45deg) translate(5px, 6px);
}

.burgerActive .burgerLine3 {
    transform: rotate(-45deg) translate(5px, -6px);
}