:root {

    /*Colors*/
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);

    --white: #fff;
    --black: #000;
    --greyBlue: hsl(233, 8%, 62%);
    --lightGreyBlue: hsl(220, 16%, 96%);
    --veryLightGrey: hsl(0, 0%, 98%);

    /*Fonts*/
    --public-sans: 'Public Sans', sans-serif;
}